.language-btn {
    position: relative;
    max-width: 160px;
    width: 160px;
    max-height: 56px;
    height: 56px;
    display: flex;
    justify-content: flex-end;
    border-radius: 33.5px;
    background: #FFF;
}

.language-title {
    position: absolute;
    font-family: Gilroy;
    font-size: 34px;
    font-weight: 600;
    line-height: 36px;
    top: 7px;
    left: 80px;
    transition: all 0.2s ease-in-out;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    top: 0;
    left: 0px;
    right: 0;
    bottom: 0;
    background-color: #FFF;
    border-radius: 33.5px;
}
    
.slider::before {
    content: '';
    position: absolute;
    height: 42px;
    width: 42px;
    background-color: #272727;
    border-radius: 50%;
    top: 7px;
    left: 9px;
    filter: drop-shadow(1px 1px 2px rgba(20, 20, 20, 0.27)) drop-shadow(2px 3px 4px rgba(20, 20, 20, 0.23)) drop-shadow(6px 7px 6px rgba(20, 20, 20, 0.14)) drop-shadow(10px 13px 7px rgba(20, 20, 20, 0.04)) drop-shadow(15px 21px 7px rgba(20, 20, 20, 0.01));
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
    
.activated {
    left: 44px;
} 

.switch input:checked + .slider::before {
    left: 108px;
}
